@font-face {
  font-family: 'LEMON MILK Regular';
  font-style: normal;
  font-weight:  normal;
  src:  local('LEMON MILK Regular'), url('LEMONMILK-Regular.otf') ;
}



h1 {
  font-family: 'LEMON MILK Regular';
  font-weight: 200;
  color: #0ccac4;
}


#topRight {
  position: absolute;
  top: 8px;
  right: 16px;
  /*font-size: 18px;*/
}

#nav-link* > .nav-link {
  margin-top:  21.44px ;
  color:  green;
}


#DD
 {
  margin-top:  21.44px ;
  width:  400px;
}

.btn {
  
  width:  140px;
  

}

.form-control {

  float:left;
    width:140px;
}


.dropdown-menu.show {
  
  min-width:  140px;
  /*padding-right: 0px;*/
  /*padding-left: 1px;*/

}

.dropdown-item {
  
  width:  140px;
  padding-right: 10px;
  padding-left: 10px;
/*  margin-right: -100px;*/

}

#unitsTab > .nav-item > .nav-link {

  width: 90px;
  border: solid #007BFF 1px ;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0.5px;
}

#unitsTab > .nav-item > .nav-link > .a {  
  padding-right: 0px;
  padding-left: 0px;
}

dt {
  text-align: left;

} 

#bhaCard  {
  max-width: 450px;
  /*min-width:500px;*/
 }

.card {

  max-width: 300px;
  min-width:300px;
}

 .container {

  padding-top:10px;
 }

 .card-header {
    padding: 0px;
 }

/* .react-bootstrap-table {
  max-width: 400px;
  display: block;
  width: auto !important;
  overflow: auto;
 }*/

.numInput {
  width:50px;
  padding: 0px;
}

th {
  padding: 0px !important;
  width: 20px !important;
}

td {
  padding: 0px !important;
 /*max-width: 20px !important;*/
}

table {
  /*table-layout: fixed;*/
}

